/* temples-large.css - Styles for larger screens */
@media (min-width: 769px) {
    main {
        max-width: 1200px;
        margin: 0 100px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    header nav ul li {
        margin: 0 20px;
    }
    .hamburger {
        display: none;
    }
}