/* temples.css - Mobile First Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a:hover {
    color:aqua;
}
header nav ul li a {
    color: white;
    text-decoration: none;
}

.hamburger {
    position: absolute;
    top:2rem;
    right:1rem;
}

main {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    margin: 0;
    text-align: center;
}

figure img {
    width: 100%;
    height:25rem;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
}

/* Mobile Header Menu Toggle */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        font-size: 2rem;
        background: none;
        border: none;
        color: white;
    }

    #nav-menu {
        display: none; /* no navigation bar/tools for passive/ noclick*/
        flex-direction: column;
    }
    /*when click hamburger.AddEventListener() scripts activate */
    #nav-menu.active {
        display: flex;
    }

    header nav ul li {
        margin: 10px 0;
    }
}